<style>

  /****************************************************************************/
 /*                                  COLORES                                 */
/****************************************************************************/
.azul{
	color: #76A1B8;
}

.azulOscuro{
	color: #3B515C;
}

.grisClaro{
	color: #E5E5E3;
}

.grisMedio{
	color: #999790;
}

.grisOscuro{
	color: #666359;
}

.negroCalido{
	color: #332F21;
}


  /****************************************************************************/
 /*                                  FUENTES                                 */
/****************************************************************************/
/* Esta  fuente hace uso de la fuente roboto light, nosotros la guardamos en 
nuestro servidor para que todo cliente pueda ver con la fuente*/
@font-face {
	font-family: aodRoboto;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/aodRoboto.ttf');
}


@font-face {
	font-family: aodTituloPrincipal;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/aodDIN.otf');
}

@font-face {
	font-family: aodTituloPrincipalAlternative;
	font-style: normal;
	src: url('../fonts/aodNunito.ttf');
}

@font-face {
	font-family: aodTituloSecundario;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/aodDIN.otf');
}

@font-face {
	font-family: aodTituloSecundarioAlternative;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/aodNunito.ttf');
}

@font-face {
	font-family: aodTituloResaltado;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/aodRoboto.ttf');
}

@font-face {
	font-family: aodOtrosTextosDestacados;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/aodRoboto.ttf');
}

@font-face {
	font-family: aodTituloSecundarioNegrita;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/aodRobotoBold.ttf');
}

@font-face {
	font-family: aodTextoBotonesGrueso;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/aodRobotoBold.ttf');
}

@font-face {
	font-family: aodTextoCajasGrueso;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/aodRobotoBold.ttf');
}

@font-face {
	font-family: aodTitularesPequesGrueso;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/aodRobotoBold.ttf');
}

@font-face {
	font-family: aodTextoBotones;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/aodRobotoMedium.ttf');
}

@font-face {
	font-family: aodTextoCajas;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/aodRobotoMedium.ttf');
}

@font-face {
	font-family: aodTitularesPeques;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/aodRobotoMedium.ttf');
}


@font-face {
	font-family: aodTextos;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/aodRobotoRegular.ttf');
}


  /****************************************************************************/
 /*                                Properties                                */
/****************************************************************************/


h1{
	font-family: 'aodRoboto';
	text-transform: uppercase;
	font-size: 45px;
	letter-spacing: 0.1em;
	color: #76A1B8;
	font-weight: 300;
	line-height: 1.5em;
}

.descripcionTitulo1, .tituloResaltado, .otrosTextosDestacados{
	font-family: 'aodTituloResaltado';
	font-size: 30px;
	text-align: justify;
	line-height: 1.5em;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'aodTituloResaltado';
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 0.07em;
	font-weight: normal;
	color: #76A1B8;
	line-height: 1.5em;
	
}

.titulosSecundariosNegritas{
	font-family: 'aodTituloSecundarioNegrita';
	font-size: 20px;
	color: #76A1B8;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.textosNormales{
	font-family: 'aodTextos' !important;
	font-size: 14px !important;
	text-align: justify !important;
	line-height: 21px !important;
}

.textosNormales b{
	color: #76A1B8 !important;
}

.textosNormales a{
	font-size: 14px !important;
	text-align: left;
	color: #3b515c !important;
	text-decoration: none;
	outline: 0;
	letter-spacing: 1px;
	font-weight: bold;
}

.textosNormales a:hover{
	font-size: 14px !important;
	color: #000 !important;
}

.titularesPeques{
	font-family: 'aodTitularesPeques' !important;
	font-size: 14px;
	text-align: left;
	color: #76A1B8 !important;
}

.textoCajas{
	font-family: 'aodTextoCajas' !important;
	font-size: 14px;
	text-align: left;
	color: #FFF !important;
}

.verMas a{
	font-family: 'aodTitularesPequesGrueso';
	font-size: 11px;
	text-align: left;
	color: #76A1B8 !important;
	text-transform: uppercase;
	text-decoration: none;
	outline: 0;
	letter-spacing: 0.1em;
	font-weight: bold;
}

.verMas a:hover{
	font-family: 'aodTitularesPequesGrueso';
	text-transform: uppercase;
	font-size: 11px;
	color: #000 !important;
}

.multimediaPresentaciones {
	margin-top: 20px;
}

</style>
